{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}

    <div class="container col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <h1>Change your password</h1>
            <p>Use the form below to change your password.</p>

            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Save Changes">
                    <a href="{% url 'dashboard' %}" class="btn btn-danger">
                        Cancel
                    </a>
            </form>
        </div>
    </div>

{% endblock %}
