{% extends 'members/member_base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block premember %}

{% endblock %}


{% block member_content %}

    <div class="container">

        <h2>All Members</h2>

        <br>
        <br>


        <div class="container">

            <div class="list-member">

                <div class="list-group-item-text container-fluid">


                    <table class="table  table-hover">

                        <thead>
                        <tr>
                            <th>Member ID</th>
                            <th>First</th>
                            <th>Last</th>
                            <th>Gender</th>
                            <th>Birthdate</th>
                            <th>Age</th>
                        </tr>
                        </thead>

                        {% for member in all_members %}
                            <tbody>
                            <tr>
                                <td><a href="{% url 'members:detail' member.id %}">{{ member.member_number }}</a></td>
                                <td>{{ member.first_name }}</td>
                                <td>{{ member.last_name }}</td>
                                <td>{{ member.gender }}</td>
                                <td>{{ member.birth_date }}</td>
                                <td>{{ member.get_age }}</td>
                            </tr>
                            </tbody>

                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>


    </div>


{% endblock %}



{% block postmember %}
{% endblock %}